# import pandas

In [139]:
import pandas as pd

### explain callable format

In [140]:
pd.options.display.float_format = '{:,.0f}'.format

<blockquote>

f is a method object bound to a string instance

the format method is bound to a `str('{:,.0f}')` object

when passed as an argument and called, it remebers the self argument

the original self object can be retrieved via the `__self__`attribute
</blockquote>

In [141]:
f = '{:,.0f}'.format
f'{f.__self__ = }'

"f.__self__ = '{:,.0f}'"

# import excel file

In [142]:
df = pd.read_excel('advworksdata.xlsx')
df.head() # first 5

  productcategory productsubcategory                product   saleterritory         Country    City     Sate      Customer     Employee  OrderCount  OrderDate  StandardCost  UnitPrice  UnitPriceDiscount  Discount  ListPrice  SaleswithStandard  NetSales  OrderQuantity  Sales
0        Clothing               Caps           AWC Logo Cap  United Kingdom  United Kingdom   Berks  England    Gary Suess  Amy Alberts           1 2012-06-30             7          5                  0         1          9                 97       -28             14     69
1     Accessories              Locks             Cable Lock  United Kingdom  United Kingdom   Berks  England    Gary Suess  Amy Alberts           1 2012-06-30            10         15                  0         0         25                 62        28              6     90
2        Clothing             Gloves  Full-Finger Gloves, L  United Kingdom  United Kingdom   Berks  England    Gary Suess  Amy Alberts           1 2012-06-30            16         23                  0         0         38                125        57              8    182
3        Clothing             Gloves  Full-Finger Gloves, L  United Kingdom  United Kingdom  London  England  Linda Martin  Amy Alberts           1 2012-06-30            16         21                  0        17         38                251        67             16    318
4        Clothing             Gloves  Full-Finger Gloves, M  United Kingdom  United Kingdom   Berks  England    Gary Suess  Amy Alberts           1 2012-06-30            16         23                  0         0         38                110        50              7    160

## check dataframe properties

#### show dataframe type

In [143]:
type(df)

pandas.core.frame.DataFrame

### check if dataframe is empty

In [144]:
df.empty

False

### show dataframe shape

> shape is shown in (rows, columns)

In [145]:
df.shape

(60880, 20)

### get list of columns

In [146]:
df.columns

Index(['productcategory', 'productsubcategory', 'product', 'saleterritory', 'Country', 'City', 'Sate', 'Customer', 'Employee', 'OrderCount', 'OrderDate', 'StandardCost', 'UnitPrice', 'UnitPriceDiscount', 'Discount', 'ListPrice', 'SaleswithStandard', 'NetSales', 'OrderQuantity', 'Sales'], dtype='object')

# work with dataframe

## modify metadata

### rename columns

In [147]:
df = df.rename(columns=str.lower)
df[0:3].sort_index(axis=1, ascending=False)
df.head()

  productcategory productsubcategory                product   saleterritory         country    city     sate      customer     employee  ordercount  orderdate  standardcost  unitprice  unitpricediscount  discount  listprice  saleswithstandard  netsales  orderquantity  sales
0        Clothing               Caps           AWC Logo Cap  United Kingdom  United Kingdom   Berks  England    Gary Suess  Amy Alberts           1 2012-06-30             7          5                  0         1          9                 97       -28             14     69
1     Accessories              Locks             Cable Lock  United Kingdom  United Kingdom   Berks  England    Gary Suess  Amy Alberts           1 2012-06-30            10         15                  0         0         25                 62        28              6     90
2        Clothing             Gloves  Full-Finger Gloves, L  United Kingdom  United Kingdom   Berks  England    Gary Suess  Amy Alberts           1 2012-06-30            16         23                  0         0         38                125        57              8    182
3        Clothing             Gloves  Full-Finger Gloves, L  United Kingdom  United Kingdom  London  England  Linda Martin  Amy Alberts           1 2012-06-30            16         21                  0        17         38                251        67             16    318
4        Clothing             Gloves  Full-Finger Gloves, M  United Kingdom  United Kingdom   Berks  England    Gary Suess  Amy Alberts           1 2012-06-30            16         23                  0         0         38                110        50              7    160

### rename dataframe columns

> provide a dictionary with the following structure:

    {abc:def}

In [148]:
df = df.rename(columns={
    'productcategory': 'category',
    'saleterritory': 'territory',
    'productsubcategory': 'subcategory',
    'orderquantity': 'quantity',
    'orderdate': 'date',
    'sate': 'state'
}, errors='raise')
df.head()

      category subcategory                product       territory         country    city    state      customer     employee  ordercount       date  standardcost  unitprice  unitpricediscount  discount  listprice  saleswithstandard  netsales  quantity  sales
0     Clothing        Caps           AWC Logo Cap  United Kingdom  United Kingdom   Berks  England    Gary Suess  Amy Alberts           1 2012-06-30             7          5                  0         1          9                 97       -28        14     69
1  Accessories       Locks             Cable Lock  United Kingdom  United Kingdom   Berks  England    Gary Suess  Amy Alberts           1 2012-06-30            10         15                  0         0         25                 62        28         6     90
2     Clothing      Gloves  Full-Finger Gloves, L  United Kingdom  United Kingdom   Berks  England    Gary Suess  Amy Alberts           1 2012-06-30            16         23                  0         0         38                125        57         8    182
3     Clothing      Gloves  Full-Finger Gloves, L  United Kingdom  United Kingdom  London  England  Linda Martin  Amy Alberts           1 2012-06-30            16         21                  0        17         38                251        67        16    318
4     Clothing      Gloves  Full-Finger Gloves, M  United Kingdom  United Kingdom   Berks  England    Gary Suess  Amy Alberts           1 2012-06-30            16         23                  0         0         38                110        50         7    160

In [149]:
df.shape

(60880, 20)

## get subset of dataframe

### get one column

In [150]:
# df['product'].head()
df['product'][0:5]

0             AWC Logo Cap
1               Cable Lock
2    Full-Finger Gloves, L
3    Full-Finger Gloves, L
4    Full-Finger Gloves, M
Name: product, dtype: object

### get more columns

In [151]:
#  pass a list of column names to filter
df[['category','product']][0:3]

      category                product
0     Clothing           AWC Logo Cap
1  Accessories             Cable Lock
2     Clothing  Full-Finger Gloves, L

### limit columns of dataframe

In [152]:
df.columns

Index(['category', 'subcategory', 'product', 'territory', 'country', 'city', 'state', 'customer', 'employee', 'ordercount', 'date', 'standardcost', 'unitprice', 'unitpricediscount', 'discount', 'listprice', 'saleswithstandard', 'netsales', 'quantity', 'sales'], dtype='object')

In [153]:
df2 = df['category subcategory product date listprice quantity sales'.split()]
df2.head()

      category subcategory                product       date  listprice  quantity  sales
0     Clothing        Caps           AWC Logo Cap 2012-06-30          9        14     69
1  Accessories       Locks             Cable Lock 2012-06-30         25         6     90
2     Clothing      Gloves  Full-Finger Gloves, L 2012-06-30         38         8    182
3     Clothing      Gloves  Full-Finger Gloves, L 2012-06-30         38        16    318
4     Clothing      Gloves  Full-Finger Gloves, M 2012-06-30         38         7    160

## work with dataframe data types

### show dataframe columns data types

In [154]:
df.dtypes

category                     object
subcategory                  object
product                      object
territory                    object
country                      object
city                         object
state                        object
customer                     object
employee                     object
ordercount                    int64
date                 datetime64[ns]
standardcost                float64
unitprice                   float64
unitpricediscount           float64
discount                    float64
listprice                   float64
saleswithstandard           float64
netsales                    float64
quantity                      int64
sales                       float64
dtype: object

### convert column data type

In [155]:
df['date'] = pd.to_datetime(df['date'])
df['date'].head()

0   2012-06-30
1   2012-06-30
2   2012-06-30
3   2012-06-30
4   2012-06-30
Name: date, dtype: datetime64[ns]

### raise error when trying to convert NANs (NULLs)

In [156]:
try:
    df['listprice'] = df['listprice'].astype(int)
except Exception as e:
    print(repr(e))

IntCastingNaNError('Cannot convert non-finite values (NA or inf) to integer')

## fixing NULL values

### check whether there are columns containing nulls (nans)

In [157]:
df.isnull().any()

category              True
subcategory           True
product               True
territory            False
country              False
city                 False
state                False
customer             False
employee             False
ordercount           False
date                 False
standardcost          True
unitprice            False
unitpricediscount    False
discount             False
listprice             True
saleswithstandard     True
netsales              True
quantity             False
sales                False
dtype: bool

### count null values per columns

In [158]:
df.isnull().sum()

category             39
subcategory          39
product              39
territory             0
country               0
city                  0
state                 0
customer              0
employee              0
ordercount            0
date                  0
standardcost         39
unitprice             0
unitpricediscount     0
discount              0
listprice            39
saleswithstandard    39
netsales             39
quantity              0
sales                 0
dtype: int64

### fill column null values with custom values

> deprecated in pandas 3.0

In [159]:
df['category'].fillna('unknown', inplace=True)  # deprecated in pandas 3.0

/var/folders/l0/1vskk_85141bwjr9lhpxwv1r0000gn/T/ipykernel_28178/2310545220.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['category'].fillna('unknown', inplace=True)  # deprecated in pandas 3.0

In [160]:
df.category = df['category'].fillna('unknown')      # valid
df.fillna({'category':'unknown'}, inplace=True)     # valid
df[df.category == 'unknown'].head()

      category subcategory product territory  country          city                state      customer       employee  ordercount       date  standardcost  unitprice  unitpricediscount  discount  listprice  saleswithstandard  netsales  quantity  sales
581    unknown         NaN     NaN   Germany  Germany     Frankfurt               Bayern  Onetha Higgs    Amy Alberts           1 2014-02-28           NaN         58                  0         0        NaN                NaN       NaN         2    117
582    unknown         NaN     NaN   Germany  Germany     Frankfurt               Bayern  Onetha Higgs    Amy Alberts           1 2014-02-28           NaN        564                  0         0        NaN                NaN       NaN         1    564
42825  unknown         NaN     NaN   Germany  Germany  Braunschweig  Nordrhein-Westfalen   Marc Faeber  Rachel Valdez           1 2013-05-30           NaN         58                  0         0        NaN                NaN       NaN         2    117
42826  unknown         NaN     NaN   Germany  Germany  Braunschweig  Nordrhein-Westfalen   Marc Faeber  Rachel Valdez           1 2013-05-30           NaN        564                  0         0        NaN                NaN       NaN         2  1,128
42827  unknown         NaN     NaN   Germany  Germany     Frankfurt               Bayern  Onetha Higgs  Rachel Valdez           1 2013-05-30           NaN        264                  0         0        NaN                NaN       NaN         2    528

In [161]:
df.fillna({'subcategory':'unknown'}, inplace=True)

In [162]:
df.fillna({'category':0}, inplace=True)

## selecting values

In [163]:
df.category.unique()

array(['Clothing', 'Accessories', 'Components', 'Bikes', 'unknown'],
      dtype=object)

In [164]:
df.sales.sum()

np.float64(80487704.17918801)

In [165]:
df.quantity.count()

np.int64(60880)

## slicing with loc and iloc

### select columns and records

<blockquote>
pass a list of columns to filter columns

slice the record containing the resulting columns

[from-included:to-excluded]
</blockquote>

In [166]:
df[['category', 'date', 'sales']][10:13]

      category       date  sales
10    Clothing 2012-06-30     42
11  Components 2012-06-30    826
12  Components 2012-06-30    150

> deprecated in pandas 3.0

In [167]:
df[10:13]['category'] = df[10:13]['category'].str.lower()     # deprecated in pandas 3.0

/var/folders/l0/1vskk_85141bwjr9lhpxwv1r0000gn/T/ipykernel_28178/48478257.py:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df[10:13]['category'] = df[10:13]['category'].str.lower()     # deprecated in pandas 3.0
/var/folders/l0/1vskk_85141bwjr9lhpxwv1r0000gn/T/ipykernel_28178/48478257.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[10:13]['category'] = df[10:13]['category'].str.lower()     # deprecated in pandas 3.0

In [168]:
# Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.
df.loc[10:13, 'category'] = df.loc[10:13, 'category'].str.lower()
df[10:13]['category']

10      clothing
11    components
12    components
Name: category, dtype: object

In [169]:
df.head()

      category subcategory                product       territory         country    city    state      customer     employee  ordercount       date  standardcost  unitprice  unitpricediscount  discount  listprice  saleswithstandard  netsales  quantity  sales
0     Clothing        Caps           AWC Logo Cap  United Kingdom  United Kingdom   Berks  England    Gary Suess  Amy Alberts           1 2012-06-30             7          5                  0         1          9                 97       -28        14     69
1  Accessories       Locks             Cable Lock  United Kingdom  United Kingdom   Berks  England    Gary Suess  Amy Alberts           1 2012-06-30            10         15                  0         0         25                 62        28         6     90
2     Clothing      Gloves  Full-Finger Gloves, L  United Kingdom  United Kingdom   Berks  England    Gary Suess  Amy Alberts           1 2012-06-30            16         23                  0         0         38                125        57         8    182
3     Clothing      Gloves  Full-Finger Gloves, L  United Kingdom  United Kingdom  London  England  Linda Martin  Amy Alberts           1 2012-06-30            16         21                  0        17         38                251        67        16    318
4     Clothing      Gloves  Full-Finger Gloves, M  United Kingdom  United Kingdom   Berks  England    Gary Suess  Amy Alberts           1 2012-06-30            16         23                  0         0         38                110        50         7    160

In [170]:
df.loc[0, 'category']

'Clothing'

### set display width

In [171]:
pd.options.display.width    # 80

1000

In [172]:
pd.options.display.width = 1000

In [173]:
for index, row in df.loc[10:13].iterrows():
    print(index)
    row:pd.Series
    # print(row.to_frame().T)
    print(row['category'])

10
clothing
11
components
12
components
13
components

## create a new column

In [195]:
pd.options.display.width = 220

In [197]:
df.columns

Index(['category', 'subcategory', 'product', 'territory', 'country', 'city', 'state', 'customer', 'employee', 'ordercount', 'date', 'standardcost', 'unitprice', 'unitpricediscount', 'discount', 'listprice',
       'saleswithstandard', 'netsales', 'quantity', 'sales'],
      dtype='object')

In [201]:
df.loc[:,'territory'].unique()

array(['United Kingdom', 'France', 'Germany', 'Northwest', 'Canada',
       'Central', 'Southwest', 'Northeast', 'Southeast', 'Australia'],
      dtype=object)

In [203]:
AMERICAS = ['Northwest', 'Canada', 'Central', 'Southwest', 'Northeast', 'Southeast']
EUROPE = ['United Kingdom', 'France', 'Germany']
for index, row in df.iterrows():
    if row['territory'] in AMERICAS:
        df.loc[index, 'region'] = 'Americas'
    elif row['territory'] in EUROPE:
        df.loc[index, 'region'] = 'Europe'
    else:
        df.loc[index, 'region'] = 'Australia'
df

,category,subcategory,product,territory,country,city,state,customer,employee,ordercount,date,standardcost,unitprice,unitpricediscount,discount,listprice,saleswithstandard,netsales,quantity,sales,region
0,Clothing,Caps,AWC Logo Cap,United Kingdom,United Kingdom,Berks,England,Gary Suess,Amy Alberts,1,2012-06-30 00:00:00,7,5,0,1,9,97,-28,14,69,Europe
1,Accessories,Locks,Cable Lock,United Kingdom,United Kingdom,Berks,England,Gary Suess,Amy Alberts,1,2012-06-30 00:00:00,10,15,0,0,25,62,28,6,90,Europe
2,Clothing,Gloves,"Full-Finger Gloves, L",United Kingdom,United Kingdom,Berks,England,Gary Suess,Amy Alberts,1,2012-06-30 00:00:00,16,23,0,0,38,125,57,8,182,Europe
3,Clothing,Gloves,"Full-Finger Gloves, L",United Kingdom,United Kingdom,London,England,Linda Martin,Amy Alberts,1,2012-06-30 00:00:00,16,21,0,17,38,251,67,16,318,Europe
4,Clothing,Gloves,"Full-Finger Gloves, M",United Kingdom,United Kingdom,Berks,England,Gary Suess,Amy Alberts,1,2012-06-30 00:00:00,16,23,0,0,38,110,50,7,160,Europe
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60876,Clothing,Shorts,"Women's Mountain Shorts, L",Southeast,United States,Miami,Florida,Stephanie Conroy,Tsvi Reiter,1,2014-05-01 00:00:00,26,42,0,0,70,157,95,6,252,Americas
60877,Clothing,Shorts,"Women's Mountain Shorts, M",Southeast,United States,Decatur,Georgia,Pamela Cox,Tsvi Reiter,1,2014-05-01 00:00:00,26,42,0,0,70,79,47,3,126,Americas
60878,Clothing,Shorts,"Women's Mountain Shorts, S",Southeast,United States,Decatur,Georgia,Pamela Cox,Tsvi Reiter,1,2014-05-01 00:00:00,26,42,0,0,70,131,79,5,210,Americas
60879,Clothing,Shorts,"Women's Mountain Shorts, S",Southeast,United States,Miami,Florida,Stephanie Conroy,Tsvi Reiter,1,2014-05-01 00:00:00,26,42,0,0,70,79,47,3,126,Americas
region,Americas,Americas,Americas,Americas,Americas,Americas,Americas,Americas,Americas,Americas,Americas,Americas,Americas,Americas,Americas,Americas,Americas,Americas,Americas,Americas,Australia







# BREAK
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

---

# test loc syntax

### single row
>use index position

> returns a series

In [175]:
single_row = df.loc[10]
type(single_row)

pandas.core.series.Series

In [176]:
single_row

category                          clothing
subcategory                         Gloves
product              Half-Finger Gloves, S
territory                   United Kingdom
country                     United Kingdom
city                                 Berks
state                              England
customer                        Gary Suess
employee                       Amy Alberts
ordercount                               1
date                   2012-06-30 00:00:00
standardcost                             9
unitprice                               14
unitpricediscount                        0
discount                                 0
listprice                               24
saleswithstandard                       27
netsales                                15
quantity                                 3
sales                                   42
Name: 10, dtype: object

### slice of rows
> use start and stop indexes

> returns dataframe with both start and stop included

In [177]:
rows = df.loc[0:5]
type(rows)

pandas.core.frame.DataFrame

In [178]:
rows

      category subcategory                product       territory         country    city    state      customer     employee  ordercount       date  standardcost  unitprice  unitpricediscount  discount  listprice  saleswithstandard  netsales  quantity  sales
0     Clothing        Caps           AWC Logo Cap  United Kingdom  United Kingdom   Berks  England    Gary Suess  Amy Alberts           1 2012-06-30             7          5                  0         1          9                 97       -28        14     69
1  Accessories       Locks             Cable Lock  United Kingdom  United Kingdom   Berks  England    Gary Suess  Amy Alberts           1 2012-06-30            10         15                  0         0         25                 62        28         6     90
2     Clothing      Gloves  Full-Finger Gloves, L  United Kingdom  United Kingdom   Berks  England    Gary Suess  Amy Alberts           1 2012-06-30            16         23                  0         0         38                125        57         8    182
3     Clothing      Gloves  Full-Finger Gloves, L  United Kingdom  United Kingdom  London  England  Linda Martin  Amy Alberts           1 2012-06-30            16         21                  0        17         38                251        67        16    318
4     Clothing      Gloves  Full-Finger Gloves, M  United Kingdom  United Kingdom   Berks  England    Gary Suess  Amy Alberts           1 2012-06-30            16         23                  0         0         38                110        50         7    160
5     Clothing      Gloves  Full-Finger Gloves, M  United Kingdom  United Kingdom  London  England  Linda Martin  Amy Alberts           1 2012-06-30            16         23                  0         0         38                 31        14         2     46

### select rows and one column

In [179]:
df.loc[0:5, 'category']

0       Clothing
1    Accessories
2       Clothing
3       Clothing
4       Clothing
5       Clothing
Name: category, dtype: object

### select rows and more columns

In [180]:
df.loc[0:5, ['category', 'listprice']]

      category  listprice
0     Clothing          9
1  Accessories         25
2     Clothing         38
3     Clothing         38
4     Clothing         38
5     Clothing         38

In [181]:
df[df.category.name]
type(df.category.name)

str

### select records

<blockquote>
slice the dataframe records

[from-included:to-excluded]
</blockquote>

In [182]:
df[10:13]

      category subcategory                product       territory         country   city    state    customer     employee  ordercount       date  standardcost  unitprice  unitpricediscount  discount  listprice  saleswithstandard  netsales  quantity  sales
10    clothing      Gloves  Half-Finger Gloves, S  United Kingdom  United Kingdom  Berks  England  Gary Suess  Amy Alberts           1 2012-06-30             9         14                  0         0         24                 27        15         3     42
11  components       Forks                HL Fork  United Kingdom  United Kingdom  Berks  England  Gary Suess  Amy Alberts           1 2012-06-30           102        138                  0         0        229                611       215         6    826
12  components    Headsets             HL Headset  United Kingdom  United Kingdom  Berks  England  Gary Suess  Amy Alberts           1 2012-06-30            55         75                  0         0        125                111        39         2    150

In [183]:
df.columns

Index(['category', 'subcategory', 'product', 'territory', 'country', 'city', 'state', 'customer', 'employee', 'ordercount', 'date', 'standardcost', 'unitprice', 'unitpricediscount', 'discount', 'listprice', 'saleswithstandard', 'netsales', 'quantity', 'sales'], dtype='object')

### select records and column

In [184]:
df[10:13]['category'].str.lower()

10      clothing
11    components
12    components
Name: category, dtype: object

> same thing, just swapped selectors

In [185]:
df['category'][10:13].str.lower()

10      clothing
11    components
12    components
Name: category, dtype: object

In [186]:
df[0:3]

      category subcategory                product       territory         country   city    state    customer     employee  ordercount       date  standardcost  unitprice  unitpricediscount  discount  listprice  saleswithstandard  netsales  quantity  sales
0     Clothing        Caps           AWC Logo Cap  United Kingdom  United Kingdom  Berks  England  Gary Suess  Amy Alberts           1 2012-06-30             7          5                  0         1          9                 97       -28        14     69
1  Accessories       Locks             Cable Lock  United Kingdom  United Kingdom  Berks  England  Gary Suess  Amy Alberts           1 2012-06-30            10         15                  0         0         25                 62        28         6     90
2     Clothing      Gloves  Full-Finger Gloves, L  United Kingdom  United Kingdom  Berks  England  Gary Suess  Amy Alberts           1 2012-06-30            16         23                  0         0         38                125        57         8    182

## other

### pivot

In [187]:
df.T.head(3)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,...,60840,60841,60842,60843,60844,60845,60846,60847,60848,60849,60850,60851,60852,60853,60854,60855,60856,60857,60858,60859,60860,60861,60862,60863,60864,60865,60866,60867,60868,60869,60870,60871,60872,60873,60874,60875,60876,60877,60878,60879
category,Clothing,Accessories,Clothing,Clothing,Clothing,Clothing,Clothing,Clothing,Clothing,Clothing,clothing,components,components,components,Components,Components,Components,Components,Components,Components,Components,Components,Components,Components,Components,Components,Components,Components,Clothing,Clothing,Clothing,Clothing,Clothing,Clothing,Clothing,Clothing,Accessories,Components,Components,Components,...,Bikes,Bikes,Bikes,Bikes,Bikes,Bikes,Bikes,Bikes,Bikes,Bikes,Bikes,Bikes,Bikes,Bikes,Bikes,Bikes,Bikes,Bikes,Bikes,Bikes,Bikes,Bikes,Bikes,Bikes,Bikes,Bikes,Bikes,Bikes,Bikes,Bikes,Bikes,Bikes,Bikes,Accessories,Clothing,Clothing,Clothing,Clothing,Clothing,Clothing
subcategory,Caps,Locks,Gloves,Gloves,Gloves,Gloves,Gloves,Gloves,Gloves,Gloves,Gloves,Forks,Headsets,Mountain Frames,Mountain Frames,Mountain Frames,Mountain Frames,Mountain Frames,Wheels,Handlebars,Wheels,Wheels,Forks,Wheels,Wheels,Handlebars,Wheels,Wheels,Jerseys,Jerseys,Jerseys,Bib-Shorts,Bib-Shorts,Bib-Shorts,Shorts,Shorts,Pumps,Headsets,Mountain Frames,Mountain Frames,...,Touring Bikes,Touring Bikes,Touring Bikes,Touring Bikes,Touring Bikes,Touring Bikes,Touring Bikes,Touring Bikes,Touring Bikes,Touring Bikes,Touring Bikes,Touring Bikes,Touring Bikes,Touring Bikes,Touring Bikes,Touring Bikes,Touring Bikes,Touring Bikes,Touring Bikes,Touring Bikes,Touring Bikes,Touring Bikes,Touring Bikes,Touring Bikes,Touring Bikes,Touring Bikes,Touring Bikes,Touring Bikes,Touring Bikes,Touring Bikes,Touring Bikes,Touring Bikes,Touring Bikes,Bottles and Cages,Shorts,Shorts,Shorts,Shorts,Shorts,Shorts
product,AWC Logo Cap,Cable Lock,"Full-Finger Gloves, L","Full-Finger Gloves, L","Full-Finger Gloves, M","Full-Finger Gloves, M","Full-Finger Gloves, S","Full-Finger Gloves, S","Half-Finger Gloves, L","Half-Finger Gloves, M","Half-Finger Gloves, S",HL Fork,HL Headset,"HL Mountain Frame - Black, 38","HL Mountain Frame - Black, 42","HL Mountain Frame - Silver, 38","HL Mountain Frame - Silver, 42","HL Mountain Frame - Silver, 46",HL Mountain Front Wheel,HL Mountain Handlebars,HL Mountain Rear Wheel,HL Mountain Rear Wheel,LL Fork,LL Mountain Front Wheel,LL Mountain Front Wheel,LL Mountain Handlebars,LL Mountain Rear Wheel,LL Mountain Rear Wheel,"Long-Sleeve Logo Jersey, L","Long-Sleeve Logo Jersey, M","Long-Sleeve Logo Jersey, XL","Men's Bib-Shorts, L","Men's Bib-Shorts, M","Men's Bib-Shorts, S","Men's Sports Shorts, L","Men's Sports Shorts, M",Minipump,ML Headset,"ML Mountain Frame - Black, 40","ML Mountain Frame - Black, 44",...,"Touring-2000 Blue, 46","Touring-2000 Blue, 50","Touring-2000 Blue, 54","Touring-2000 Blue, 54","Touring-2000 Blue, 54","Touring-2000 Blue, 54","Touring-2000 Blue, 54","Touring-2000 Blue, 60","Touring-2000 Blue, 60","Touring-2000 Blue, 60","Touring-2000 Blue, 60","Touring-3000 Blue, 50","Touring-3000 Blue, 50","Touring-3000 Blue, 54","Touring-3000 Blue, 54","Touring-3000 Blue, 58","Touring-3000 Blue, 58","Touring-3000 Blue, 58","Touring-3000 Blue, 62","Touring-3000 Yellow, 44","Touring-3000 Yellow, 44","Touring-3000 Yellow, 44","Touring-3000 Yellow, 50","Touring-3000 Yellow, 50","Touring-3000 Yellow, 50","Touring-3000 Yellow, 54","Touring-3000 Yellow, 54","Touring-3000 Yellow, 54","Touring-3000 Yellow, 58","Touring-3000 Yellow, 58","Touring-3000 Yellow, 62","Touring-3000 Yellow, 62","Touring-3000 Yellow, 62",Water Bottle - 30 oz.,"Women's Mountain Shorts, L","Women's Mountain Shorts, L","Women's Mountain Shorts, L","Women's Mountain Shorts, M","Women's Mountain Shorts, S","Women's Mountain Shorts, S"