# import pandas

In [5]:
import pandas as pd

### explain callable format

In [6]:
pd.options.display.float_format = '{:,.0f}'.format

<blockquote>

f is a method object bound to a string instance

the format method is bound to a `str('{:,.0f}')` object

when passed as an argument and called, it remebers the self argument

the original self object can be retrieved via the `__self__`attribute
</blockquote>

In [7]:
f = '{:,.0f}'.format
f'{f.__self__ = }'

"f.__self__ = '{:,.0f}'"

# import excel file

In [8]:
df = pd.read_excel('advworksdata.xlsx')
df.head() # first 5

,productcategory,productsubcategory,product,saleterritory,Country,City,Sate,Customer,Employee,OrderCount,OrderDate,StandardCost,UnitPrice,UnitPriceDiscount,Discount,ListPrice,SaleswithStandard,NetSales,OrderQuantity,Sales
0,Clothing,Caps,AWC Logo Cap,United Kingdom,United Kingdom,Berks,England,Gary Suess,Amy Alberts,1,2012-06-30,7,5,0,1,9,97,-28,14,69
1,Accessories,Locks,Cable Lock,United Kingdom,United Kingdom,Berks,England,Gary Suess,Amy Alberts,1,2012-06-30,10,15,0,0,25,62,28,6,90
2,Clothing,Gloves,"Full-Finger Gloves, L",United Kingdom,United Kingdom,Berks,England,Gary Suess,Amy Alberts,1,2012-06-30,16,23,0,0,38,125,57,8,182
3,Clothing,Gloves,"Full-Finger Gloves, L",United Kingdom,United Kingdom,London,England,Linda Martin,Amy Alberts,1,2012-06-30,16,21,0,17,38,251,67,16,318
4,Clothing,Gloves,"Full-Finger Gloves, M",United Kingdom,United Kingdom,Berks,England,Gary Suess,Amy Alberts,1,2012-06-30,16,23,0,0,38,110,50,7,160

## check dataframe properties

#### show dataframe type

In [9]:
type(df)

pandas.core.frame.DataFrame

### check if dataframe is empty

In [10]:
df.empty

False

### show dataframe shape

> shape is shown in (rows, columns)

In [11]:
df.shape

(60880, 20)

### get list of columns

In [12]:
df.columns

Index(['productcategory', 'productsubcategory', 'product', 'saleterritory',
       'Country', 'City', 'Sate', 'Customer', 'Employee', 'OrderCount',
       'OrderDate', 'StandardCost', 'UnitPrice', 'UnitPriceDiscount',
       'Discount', 'ListPrice', 'SaleswithStandard', 'NetSales',
       'OrderQuantity', 'Sales'],
      dtype='object')

# work with dataframe

## modify metadata

### rename columns

In [13]:
df = df.rename(columns=str.lower)
df[0:3].sort_index(axis=1, ascending=False)
df.head()

,productcategory,productsubcategory,product,saleterritory,country,city,sate,customer,employee,ordercount,orderdate,standardcost,unitprice,unitpricediscount,discount,listprice,saleswithstandard,netsales,orderquantity,sales
0,Clothing,Caps,AWC Logo Cap,United Kingdom,United Kingdom,Berks,England,Gary Suess,Amy Alberts,1,2012-06-30,7,5,0,1,9,97,-28,14,69
1,Accessories,Locks,Cable Lock,United Kingdom,United Kingdom,Berks,England,Gary Suess,Amy Alberts,1,2012-06-30,10,15,0,0,25,62,28,6,90
2,Clothing,Gloves,"Full-Finger Gloves, L",United Kingdom,United Kingdom,Berks,England,Gary Suess,Amy Alberts,1,2012-06-30,16,23,0,0,38,125,57,8,182
3,Clothing,Gloves,"Full-Finger Gloves, L",United Kingdom,United Kingdom,London,England,Linda Martin,Amy Alberts,1,2012-06-30,16,21,0,17,38,251,67,16,318
4,Clothing,Gloves,"Full-Finger Gloves, M",United Kingdom,United Kingdom,Berks,England,Gary Suess,Amy Alberts,1,2012-06-30,16,23,0,0,38,110,50,7,160

### rename dataframe columns

> provide a dictionary with the following structure:

    {abc:def}

In [14]:
df = df.rename(columns={
    'productcategory': 'category',
    'saleterritory': 'territory',
    'productsubcategory': 'subcategory',
    'orderquantity': 'quantity',
    'orderdate': 'date',
    'sate': 'state'
}, errors='raise')
df.head()

,category,subcategory,product,territory,country,city,state,customer,employee,ordercount,date,standardcost,unitprice,unitpricediscount,discount,listprice,saleswithstandard,netsales,quantity,sales
0,Clothing,Caps,AWC Logo Cap,United Kingdom,United Kingdom,Berks,England,Gary Suess,Amy Alberts,1,2012-06-30,7,5,0,1,9,97,-28,14,69
1,Accessories,Locks,Cable Lock,United Kingdom,United Kingdom,Berks,England,Gary Suess,Amy Alberts,1,2012-06-30,10,15,0,0,25,62,28,6,90
2,Clothing,Gloves,"Full-Finger Gloves, L",United Kingdom,United Kingdom,Berks,England,Gary Suess,Amy Alberts,1,2012-06-30,16,23,0,0,38,125,57,8,182
3,Clothing,Gloves,"Full-Finger Gloves, L",United Kingdom,United Kingdom,London,England,Linda Martin,Amy Alberts,1,2012-06-30,16,21,0,17,38,251,67,16,318
4,Clothing,Gloves,"Full-Finger Gloves, M",United Kingdom,United Kingdom,Berks,England,Gary Suess,Amy Alberts,1,2012-06-30,16,23,0,0,38,110,50,7,160

In [15]:
df.shape

(60880, 20)

## get subset of dataframe

### get one column

In [16]:
# df['product'].head()
df['product'][0:5]

0             AWC Logo Cap
1               Cable Lock
2    Full-Finger Gloves, L
3    Full-Finger Gloves, L
4    Full-Finger Gloves, M
Name: product, dtype: object

### get more columns

In [17]:
#  pass a list of column names to filter
df[['category','product']][0:3]

      category                product
0     Clothing           AWC Logo Cap
1  Accessories             Cable Lock
2     Clothing  Full-Finger Gloves, L

### limit columns of dataframe

In [18]:
df.columns

Index(['category', 'subcategory', 'product', 'territory', 'country', 'city',
       'state', 'customer', 'employee', 'ordercount', 'date', 'standardcost',
       'unitprice', 'unitpricediscount', 'discount', 'listprice',
       'saleswithstandard', 'netsales', 'quantity', 'sales'],
      dtype='object')

In [19]:
df2 = df['category subcategory product date listprice quantity sales'.split()]
df2.head()

,category,subcategory,product,date,listprice,quantity,sales
0,Clothing,Caps,AWC Logo Cap,2012-06-30,9,14,69
1,Accessories,Locks,Cable Lock,2012-06-30,25,6,90
2,Clothing,Gloves,"Full-Finger Gloves, L",2012-06-30,38,8,182
3,Clothing,Gloves,"Full-Finger Gloves, L",2012-06-30,38,16,318
4,Clothing,Gloves,"Full-Finger Gloves, M",2012-06-30,38,7,160

## work with dataframe data types

### show dataframe columns data types

In [20]:
df.dtypes

category                     object
subcategory                  object
product                      object
territory                    object
country                      object
city                         object
state                        object
customer                     object
employee                     object
ordercount                    int64
date                 datetime64[ns]
standardcost                float64
unitprice                   float64
unitpricediscount           float64
discount                    float64
listprice                   float64
saleswithstandard           float64
netsales                    float64
quantity                      int64
sales                       float64
dtype: object

### convert column data type

In [21]:
df['date'] = pd.to_datetime(df['date'])
df['date'].head()

0   2012-06-30
1   2012-06-30
2   2012-06-30
3   2012-06-30
4   2012-06-30
Name: date, dtype: datetime64[ns]

### raise error when trying to convert NANs (NULLs)

In [22]:
try:
    df['listprice'] = df['listprice'].astype(int)
except Exception as e:
    print(repr(e))

IntCastingNaNError('Cannot convert non-finite values (NA or inf) to integer')

## fixing NULL values

### check whether there are columns containing nulls (nans)

In [23]:
df.isnull().any()

category              True
subcategory           True
product               True
territory            False
country              False
city                 False
state                False
customer             False
employee             False
ordercount           False
date                 False
standardcost          True
unitprice            False
unitpricediscount    False
discount             False
listprice             True
saleswithstandard     True
netsales              True
quantity             False
sales                False
dtype: bool

### count null values per columns

In [24]:
df.isnull().sum()

category             39
subcategory          39
product              39
territory             0
country               0
city                  0
state                 0
customer              0
employee              0
ordercount            0
date                  0
standardcost         39
unitprice             0
unitpricediscount     0
discount              0
listprice            39
saleswithstandard    39
netsales             39
quantity              0
sales                 0
dtype: int64

### fill column null values with custom values

> deprecated in pandas 3.0

In [25]:
df['category'].fillna('unknown', inplace=True)  # deprecated in pandas 3.0

/var/folders/ch/0323xqnn3vbc6t95tfvmh0w40000gn/T/ipykernel_22581/2310545220.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['category'].fillna('unknown', inplace=True)  # deprecated in pandas 3.0

In [26]:
df.category = df['category'].fillna('unknown')      # valid
df.fillna({'category':'unknown'}, inplace=True)     # valid
df[df.category == 'unknown'].head()

,category,subcategory,product,territory,country,city,state,customer,employee,ordercount,date,standardcost,unitprice,unitpricediscount,discount,listprice,saleswithstandard,netsales,quantity,sales
581,unknown,NaN,NaN,Germany,Germany,Frankfurt,Bayern,Onetha Higgs,Amy Alberts,1,2014-02-28,NaN,58,0,0,NaN,NaN,NaN,2,117
582,unknown,NaN,NaN,Germany,Germany,Frankfurt,Bayern,Onetha Higgs,Amy Alberts,1,2014-02-28,NaN,564,0,0,NaN,NaN,NaN,1,564
42825,unknown,NaN,NaN,Germany,Germany,Braunschweig,Nordrhein-Westfalen,Marc Faeber,Rachel Valdez,1,2013-05-30,NaN,58,0,0,NaN,NaN,NaN,2,117
42826,unknown,NaN,NaN,Germany,Germany,Braunschweig,Nordrhein-Westfalen,Marc Faeber,Rachel Valdez,1,2013-05-30,NaN,564,0,0,NaN,NaN,NaN,2,"1,128"
42827,unknown,NaN,NaN,Germany,Germany,Frankfurt,Bayern,Onetha Higgs,Rachel Valdez,1,2013-05-30,NaN,264,0,0,NaN,NaN,NaN,2,528

In [27]:
df.fillna({'subcategory':'unknown'}, inplace=True)

In [28]:
df.fillna({'category':0}, inplace=True)

## selecting values

In [29]:
df.category.unique()

array(['Clothing', 'Accessories', 'Components', 'Bikes', 'unknown'],
      dtype=object)

In [30]:
df.sales.sum()

np.float64(80487704.179188)

In [31]:
df.quantity.count()

np.int64(60880)

# slicing with loc and iloc

### select columns and records

<blockquote>
pass a list of columns to filter columns

slice the record containing the resulting columns

[from-included:to-excluded]
</blockquote>

In [32]:
df[['category', 'date', 'sales']][10:13]

      category       date  sales
10    Clothing 2012-06-30     42
11  Components 2012-06-30    826
12  Components 2012-06-30    150

> deprecated in pandas 3.0

In [33]:
df[10:13]['category'] = df[10:13]['category'].str.lower()     # deprecated in pandas 3.0

/var/folders/ch/0323xqnn3vbc6t95tfvmh0w40000gn/T/ipykernel_22581/48478257.py:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df[10:13]['category'] = df[10:13]['category'].str.lower()     # deprecated in pandas 3.0
/var/folders/ch/0323xqnn3vbc6t95tfvmh0w40000gn/T/ipykernel_22581/48478257.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[10:13]['category'] = df[10:13]['category'].str.lower()     # deprecated in pandas 3.0

## loc

In [34]:
# Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.
df.loc[10:13, 'category'] = df.loc[10:13, 'category'].str.lower()
df[10:13]['category']

10      clothing
11    components
12    components
Name: category, dtype: object

In [35]:
df.head()

,category,subcategory,product,territory,country,city,state,customer,employee,ordercount,date,standardcost,unitprice,unitpricediscount,discount,listprice,saleswithstandard,netsales,quantity,sales
0,Clothing,Caps,AWC Logo Cap,United Kingdom,United Kingdom,Berks,England,Gary Suess,Amy Alberts,1,2012-06-30,7,5,0,1,9,97,-28,14,69
1,Accessories,Locks,Cable Lock,United Kingdom,United Kingdom,Berks,England,Gary Suess,Amy Alberts,1,2012-06-30,10,15,0,0,25,62,28,6,90
2,Clothing,Gloves,"Full-Finger Gloves, L",United Kingdom,United Kingdom,Berks,England,Gary Suess,Amy Alberts,1,2012-06-30,16,23,0,0,38,125,57,8,182
3,Clothing,Gloves,"Full-Finger Gloves, L",United Kingdom,United Kingdom,London,England,Linda Martin,Amy Alberts,1,2012-06-30,16,21,0,17,38,251,67,16,318
4,Clothing,Gloves,"Full-Finger Gloves, M",United Kingdom,United Kingdom,Berks,England,Gary Suess,Amy Alberts,1,2012-06-30,16,23,0,0,38,110,50,7,160

In [36]:
df.loc[0, 'category']

'Clothing'

### set display width

In [37]:
pd.options.display.width    # 80

80

In [38]:
pd.options.display.width = 1000

In [39]:
for index, row in df.loc[10:13].iterrows():
    print(index)
    row:pd.Series
    # print(row.to_frame().T)
    print(row['category'])

10
clothing
11
components
12
components
13
components

### create a new column

In [40]:
pd.options.display.width = 220

In [41]:
df.columns

Index(['category', 'subcategory', 'product', 'territory', 'country', 'city', 'state', 'customer', 'employee', 'ordercount', 'date', 'standardcost', 'unitprice', 'unitpricediscount', 'discount', 'listprice',
       'saleswithstandard', 'netsales', 'quantity', 'sales'],
      dtype='object')

In [42]:
df.loc[:,'territory'].unique()

array(['United Kingdom', 'France', 'Germany', 'Northwest', 'Canada',
       'Central', 'Southwest', 'Northeast', 'Southeast', 'Australia'],
      dtype=object)

### getitem syntax

In [43]:
AMERICAS = ['Northwest', 'Canada', 'Central', 'Southwest', 'Northeast', 'Southeast']
EUROPE = ['United Kingdom', 'France', 'Germany']
for index, row in df.iterrows():
    if row['territory'] in AMERICAS:
        df.loc[index, 'region'] = 'Americas'
    elif row['territory'] in EUROPE:
        df.loc[index, 'region'] = 'Europe'
    else:
        df.loc[index, 'region'] = 'Australia'

### loc syntax

In [44]:
df.loc[df.territory.isin(AMERICAS), 'region2'] = 'Americas'
df.loc[df.territory.isin(EUROPE), 'region2'] = 'Europe'
df.loc[df.territory.isin(['Australia']), 'region2'] = 'Australia'

In [45]:
df_regions = df[['territory', 'region', 'region2']]
df_regions[df.region == 'Australia'].count()

territory    1713
region       1713
region2      1713
dtype: int64

### groupby

In [46]:
df_regions.groupby(['territory', 'region', 'region2']).size()

territory       region     region2
Australia       Australia  Australia     1713
Canada          Americas   Americas     11444
Central         Americas   Americas      5812
France          Europe     Europe        3530
Germany         Europe     Europe        1864
Northeast       Americas   Americas      5809
Northwest       Americas   Americas      7872
Southeast       Americas   Americas      5937
Southwest       Americas   Americas     13379
United Kingdom  Europe     Europe        3520
dtype: int64

## iloc

In [47]:
df.iloc[0:4]

,category,subcategory,product,territory,country,city,state,customer,employee,ordercount,...,unitprice,unitpricediscount,discount,listprice,saleswithstandard,netsales,quantity,sales,region,region2
0,Clothing,Caps,AWC Logo Cap,United Kingdom,United Kingdom,Berks,England,Gary Suess,Amy Alberts,1,...,5,0,1,9,97,-28,14,69,Europe,Europe
1,Accessories,Locks,Cable Lock,United Kingdom,United Kingdom,Berks,England,Gary Suess,Amy Alberts,1,...,15,0,0,25,62,28,6,90,Europe,Europe
2,Clothing,Gloves,"Full-Finger Gloves, L",United Kingdom,United Kingdom,Berks,England,Gary Suess,Amy Alberts,1,...,23,0,0,38,125,57,8,182,Europe,Europe
3,Clothing,Gloves,"Full-Finger Gloves, L",United Kingdom,United Kingdom,London,England,Linda Martin,Amy Alberts,1,...,21,0,17,38,251,67,16,318,Europe,Europe

### iloc single row as a Series

In [48]:
df.iloc[0]

category                        Clothing
subcategory                         Caps
product                     AWC Logo Cap
territory                 United Kingdom
country                   United Kingdom
city                               Berks
state                            England
customer                      Gary Suess
employee                     Amy Alberts
ordercount                             1
date                 2012-06-30 00:00:00
standardcost                           7
unitprice                              5
unitpricediscount                      0
discount                               1
listprice                              9
saleswithstandard                     97
netsales                             -28
quantity                              14
sales                                 69
region                            Europe
region2                           Europe
Name: 0, dtype: object

### iloc single row as a Dataframe

In [49]:
df.iloc[0:1]

,category,subcategory,product,territory,country,city,state,customer,employee,ordercount,...,unitprice,unitpricediscount,discount,listprice,saleswithstandard,netsales,quantity,sales,region,region2
0,Clothing,Caps,AWC Logo Cap,United Kingdom,United Kingdom,Berks,England,Gary Suess,Amy Alberts,1,...,5,0,1,9,97,-28,14,69,Europe,Europe

### iloc multiple rows as a Dataframe

In [50]:
df.iloc[0:2]

,category,subcategory,product,territory,country,city,state,customer,employee,ordercount,...,unitprice,unitpricediscount,discount,listprice,saleswithstandard,netsales,quantity,sales,region,region2
0,Clothing,Caps,AWC Logo Cap,United Kingdom,United Kingdom,Berks,England,Gary Suess,Amy Alberts,1,...,5,0,1,9,97,-28,14,69,Europe,Europe
1,Accessories,Locks,Cable Lock,United Kingdom,United Kingdom,Berks,England,Gary Suess,Amy Alberts,1,...,15,0,0,25,62,28,6,90,Europe,Europe

### single cell value

In [51]:
df.iloc[0, 0]

'Clothing'

In [52]:
df.at[0, 'territory']

'United Kingdom'

### multiple cells

> inclusive

In [53]:
df.loc[10:15, ['category', 'sales']]

      category  sales
10    clothing     42
11  components    826
12  components    150
13  components  1,472
14  Components    736
15  Components    744

### get column index

In [54]:
sales = df.columns.get_loc('sales')
sales

19

> exclusive

In [55]:
df.iloc[10:15, [0, sales]]

      category  sales
10    clothing     42
11  components    826
12  components    150
13  components  1,472
14  Components    736

### iterate through columns

In [56]:
for col in df.columns:
    print(f'column name: {col:20}, index: {df.columns.get_loc(col)}')

column name: category            , index: 0
column name: subcategory         , index: 1
column name: product             , index: 2
column name: territory           , index: 3
column name: country             , index: 4
column name: city                , index: 5
column name: state               , index: 6
column name: customer            , index: 7
column name: employee            , index: 8
column name: ordercount          , index: 9
column name: date                , index: 10
column name: standardcost        , index: 11
column name: unitprice           , index: 12
column name: unitpricediscount   , index: 13
column name: discount            , index: 14
column name: listprice           , index: 15
column name: saleswithstandard   , index: 16
column name: netsales            , index: 17
column name: quantity            , index: 18
column name: sales               , index: 19
column name: region              , index: 20
column name: region2             , index: 21

## add columns to dataframe

### add year column

In [57]:
df['date'] = pd.to_datetime(df['date'])
df['year'] = df['date'].dt.year

### groupby year

In [58]:
df.groupby([df.region, df.year]).size()

region     year
Americas   2011     4515
           2012    17316
           2013    21248
           2014     7174
Australia  2013     1084
           2014      629
Europe     2012     1630
           2013     5251
           2014     2033
dtype: int64

## drop column

### check if columns exists

In [59]:
df.columns.__contains__('listprice')

True

In [60]:
'listprice' in df.columns

True

In [61]:
df.listprice.head()

0    9
1   25
2   38
3   38
4   38
Name: listprice, dtype: float64

### drop

In [62]:
for col in ['listprice', 'region2']:
    if col in df.columns:
        df.drop(col, axis=1, inplace=True)  # axis 0 = rows, 1 = columns
        print(f'SUCCESS | column {col} dropped')
    else:
        print(f'WARNING | column {col} does not exist')

SUCCESS | column listprice dropped
SUCCESS | column region2 dropped

### check that column does not exist

In [63]:
df.columns.__contains__('listprice')

False

In [64]:
'listprice' in df.columns

False

## summarize data

### get total sales per category
### order by sum descending

In [65]:
sales_per_category = df.groupby('category')['sales'].sum().sort_values(ascending=False)
sales_per_category

category
Bikes         66,302,382
Components    11,796,629
Clothing       1,777,798
Accessories      571,298
unknown           37,107
components         2,448
clothing              42
Name: sales, dtype: float64

In [66]:
df.groupby([df.region, df.year, df.category])['sales'].sum().sort_values(ascending=False).nlargest(10)

region    year  category
Americas  2012  Bikes        21,006,720
          2013  Bikes        20,370,375
          2011  Bikes         8,082,527
          2014  Bikes         7,009,511
Europe    2013  Bikes         4,856,408
Americas  2013  Components    4,303,785
          2012  Components    3,508,357
Europe    2014  Bikes         2,064,825
          2012  Bikes         1,588,196
Americas  2014  Components    1,227,252
Name: sales, dtype: float64

In [67]:
product_sales = df.groupby('product')['sales'].sum().sort_values(ascending=False)
product_sales.head(10)

product
Mountain-200 Black, 38    3,105,727
Mountain-200 Black, 42    2,646,353
Mountain-200 Silver, 38   2,354,215
Mountain-200 Silver, 42   2,181,044
Mountain-200 Silver, 46   2,133,157
Mountain-200 Black, 46    1,936,204
Road-250 Black, 44        1,888,480
Road-250 Black, 48        1,656,450
Road-350-W Yellow, 48     1,380,254
Touring-1000 Blue, 60     1,370,784
Name: sales, dtype: float64

### count values per category

In [68]:
df.category.value_counts()

category
Bikes          24800
Components     18680
Clothing       12259
Accessories     5098
unknown           39
components         3
clothing           1
Name: count, dtype: int64

In [69]:
df.pivot_table(index='category', columns='year', values='sales', aggfunc='sum', fill_value='N/A')

year             2011       2012       2013      2014
category
Accessories    20,821    102,440    322,100   125,937
Bikes       8,082,527 22,594,916 26,032,638 9,592,301
Clothing       36,031    555,545    897,473   288,748
Components    639,173  3,878,310  5,609,918 1,669,228
clothing          N/A         42        N/A       N/A
components        N/A      2,448        N/A       N/A
unknown           N/A        N/A     28,223     8,885

### pivot table







# BREAK
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

---

# test loc syntax

### single row
>use index position

> returns a series

In [70]:
single_row = df.loc[10]
type(single_row)

pandas.core.series.Series

In [71]:
single_row

category                          clothing
subcategory                         Gloves
product              Half-Finger Gloves, S
territory                   United Kingdom
country                     United Kingdom
city                                 Berks
state                              England
customer                        Gary Suess
employee                       Amy Alberts
ordercount                               1
date                   2012-06-30 00:00:00
standardcost                             9
unitprice                               14
unitpricediscount                        0
discount                                 0
saleswithstandard                       27
netsales                                15
quantity                                 3
sales                                   42
region                              Europe
year                                  2012
Name: 10, dtype: object

### slice of rows
> use start and stop indexes

> returns dataframe with both start and stop included

In [72]:
rows = df.loc[0:5]
type(rows)

pandas.core.frame.DataFrame

In [73]:
rows

,category,subcategory,product,territory,country,city,state,customer,employee,ordercount,...,standardcost,unitprice,unitpricediscount,discount,saleswithstandard,netsales,quantity,sales,region,year
0,Clothing,Caps,AWC Logo Cap,United Kingdom,United Kingdom,Berks,England,Gary Suess,Amy Alberts,1,...,7,5,0,1,97,-28,14,69,Europe,2012
1,Accessories,Locks,Cable Lock,United Kingdom,United Kingdom,Berks,England,Gary Suess,Amy Alberts,1,...,10,15,0,0,62,28,6,90,Europe,2012
2,Clothing,Gloves,"Full-Finger Gloves, L",United Kingdom,United Kingdom,Berks,England,Gary Suess,Amy Alberts,1,...,16,23,0,0,125,57,8,182,Europe,2012
3,Clothing,Gloves,"Full-Finger Gloves, L",United Kingdom,United Kingdom,London,England,Linda Martin,Amy Alberts,1,...,16,21,0,17,251,67,16,318,Europe,2012
4,Clothing,Gloves,"Full-Finger Gloves, M",United Kingdom,United Kingdom,Berks,England,Gary Suess,Amy Alberts,1,...,16,23,0,0,110,50,7,160,Europe,2012
5,Clothing,Gloves,"Full-Finger Gloves, M",United Kingdom,United Kingdom,London,England,Linda Martin,Amy Alberts,1,...,16,23,0,0,31,14,2,46,Europe,2012

### select rows and one column

In [74]:
df.loc[0:5, 'category']

0       Clothing
1    Accessories
2       Clothing
3       Clothing
4       Clothing
5       Clothing
Name: category, dtype: object

### select rows and more columns

In [75]:
df.loc[0:5, ['category', 'listprice']]

KeyError: "['listprice'] not in index"

In [ ]:
df[df.category.name]
type(df.category.name)

str

### select records

<blockquote>
slice the dataframe records

[from-included:to-excluded]
</blockquote>

In [ ]:
df[10:13]

,category,subcategory,product,territory,country,city,state,customer,employee,ordercount,...,unitpricediscount,discount,listprice,saleswithstandard,netsales,quantity,sales,region,region2,year
10,clothing,Gloves,"Half-Finger Gloves, S",United Kingdom,United Kingdom,Berks,England,Gary Suess,Amy Alberts,1,...,0,0,24,27,15,3,42,Europe,Europe,2012
11,components,Forks,HL Fork,United Kingdom,United Kingdom,Berks,England,Gary Suess,Amy Alberts,1,...,0,0,229,611,215,6,826,Europe,Europe,2012
12,components,Headsets,HL Headset,United Kingdom,United Kingdom,Berks,England,Gary Suess,Amy Alberts,1,...,0,0,125,111,39,2,150,Europe,Europe,2012

In [ ]:
df.columns

Index(['category', 'subcategory', 'product', 'territory', 'country', 'city', 'state', 'customer', 'employee', 'ordercount', 'date', 'standardcost', 'unitprice', 'unitpricediscount', 'discount', 'listprice',
       'saleswithstandard', 'netsales', 'quantity', 'sales', 'region', 'region2', 'year'],
      dtype='object')

### select records and column

In [ ]:
df[10:13]['category'].str.lower()

10      clothing
11    components
12    components
Name: category, dtype: object

> same thing, just swapped selectors

In [ ]:
df['category'][10:13].str.lower()

10      clothing
11    components
12    components
Name: category, dtype: object

In [ ]:
df[0:3]

,category,subcategory,product,territory,country,city,state,customer,employee,ordercount,...,unitpricediscount,discount,listprice,saleswithstandard,netsales,quantity,sales,region,region2,year
0,Clothing,Caps,AWC Logo Cap,United Kingdom,United Kingdom,Berks,England,Gary Suess,Amy Alberts,1,...,0,1,9,97,-28,14,69,Europe,Europe,2012
1,Accessories,Locks,Cable Lock,United Kingdom,United Kingdom,Berks,England,Gary Suess,Amy Alberts,1,...,0,0,25,62,28,6,90,Europe,Europe,2012
2,Clothing,Gloves,"Full-Finger Gloves, L",United Kingdom,United Kingdom,Berks,England,Gary Suess,Amy Alberts,1,...,0,0,38,125,57,8,182,Europe,Europe,2012

## other

### pivot

In [ ]:
df.T.head(3)

,0,1,2,3,4,5,6,7,8,9,...,60870,60871,60872,60873,60874,60875,60876,60877,60878,60879
category,Clothing,Accessories,Clothing,Clothing,Clothing,Clothing,Clothing,Clothing,Clothing,Clothing,...,Bikes,Bikes,Bikes,Accessories,Clothing,Clothing,Clothing,Clothing,Clothing,Clothing
subcategory,Caps,Locks,Gloves,Gloves,Gloves,Gloves,Gloves,Gloves,Gloves,Gloves,...,Touring Bikes,Touring Bikes,Touring Bikes,Bottles and Cages,Shorts,Shorts,Shorts,Shorts,Shorts,Shorts
product,AWC Logo Cap,Cable Lock,"Full-Finger Gloves, L","Full-Finger Gloves, L","Full-Finger Gloves, M","Full-Finger Gloves, M","Full-Finger Gloves, S","Full-Finger Gloves, S","Half-Finger Gloves, L","Half-Finger Gloves, M",...,"Touring-3000 Yellow, 62","Touring-3000 Yellow, 62","Touring-3000 Yellow, 62",Water Bottle - 30 oz.,"Women's Mountain Shorts, L","Women's Mountain Shorts, L","Women's Mountain Shorts, L","Women's Mountain Shorts, M","Women's Mountain Shorts, S","Women's Mountain Shorts, S"